
/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* home section */
#home{
    height:370px;
    padding: 3px 68px;


}
#home::before{
    height: 480px;


}
#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
}
#services .box{
    flex-direction:column;
    /* padding-top: 0px;
    margin-top: 0px; */

}
#service .box img{

}

/* client */
#client{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#client img{
    width: 46px;
    padding: 46px;
    height: auto;
}


/* contact */
#contact-box form{
    width: 80%;


}

/* footer */
/* utility */
.h-primary{
    font-size: 26px;
    
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}